@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAF9;
  --foreground: #1C1917;
}

.dark {
  --background: #1C1917;
  --foreground: #FAFAF9;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
